.modal-products-overlay {
  background-color: #6943B480; /* Fundo verde transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-products {
  background-color: #000; /* Cor de fundo do modal de produtos */
  border-radius: 10px;
  width: 90vw; /* A largura do modal ocupa 90% da tela */
  max-width: 400px; /* Largura máxima do modal */
  max-height: 90vh; /* Altura máxima do modal */
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Esconde o conteúdo que ultrapassa a altura máxima */
}

.modal-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00B4FF;
  border-radius: 50px;
}

.modal-products-header h2 {
  margin-left: 25px;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.close-btn {
  background-color: #BB2C5C;
  font-size: 20px;
  margin-right: 25px;
  cursor: pointer;
}

.modal-products-content {
  overflow-y: auto; /* Permite rolagem vertical */
  flex-grow: 1; /* Permite que essa seção ocupe o espaço restante */
  margin-top: 10px;
}

.modal-products-form {
  padding: 20px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-products-form input {
  border-radius: 20px;
  padding-left: 10px;
  background-color: #000;
  height: 30px;
  color: #00B4FF;
  border-color: #00B4FF;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-buttons button {
  border-radius: 20px;
  height: 30px;
  width: 100px;
  margin-top: 10px;
  border-color: #00B4FF;
  cursor: pointer;
}

input::placeholder {
  color: #00B4FF80; /* Cor do placeholder */
}

.modal-products-table {
  margin-top: 30px;
  background-color: #000;
}
