.home-page-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #00B4FF;
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(to right, #000000, #100a1b, #6943B4); 
  }
  
  .navigate-button {
    background-color: #00B4FF; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
    
  }
  
  .navigate-button:hover {
    background-color: #6943B4; /* Cor ao passar o mouse */
  }
  