/* src/styles/reportTable.css */
.table-report-container {
  padding: 16px;
}

.purchase-table-report {
  border: 2px solid #00B4FF;
  border-radius: 40px 40px 0px 0px;
  width: 88vw; /* Tabela ocupa toda a largura da tela */
  overflow-x: auto; /* Permite rolagem horizontal em telas pequenas */
}

table {
  width: 100%;
  border-collapse: collapse; /* Remove o espaçamento entre as células */
}

th, td {
  border: 1px solid #00B4FF;
  padding: 8px;
  text-align: center;
  color: #00B4FF;
  font-size: 16px;
}
